<p>Listado de pokemon</p>
<input type="text" placeholder="Buscar" [(ngModel)]="search">
<button (click)="addPokemon()">
    <img src="./assets/icons/bx-plus-medical.svg" alt="bx-plus-medical">
    <span> Nuevo</span>
</button>

<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Imagen</td>
            <td>Ataque</td>
            <td>Defensa</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pokemon of pokemonList | pokemonfilter: search">
            <td>{{pokemon.name}}</td>
            <td>{{pokemon.image}}</td>
            <td>{{pokemon.attack}}</td>
            <td>{{pokemon.defense}}</td>
            <td>
                <button (click)="updatePokemon(pokemon)">
                    <img src="./assets/icons/bx-edit-alt.svg" alt="bx-edit-alt">
                </button>
                <button (click)="deletePokemon(pokemon.id)">
                    <img src="./assets/icons/bx-trash.svg" alt="bx-trash">
                </button>
            </td>
        </tr>
    </tbody>
</table>

<app-add-pokemon (newItemEvent)="swapAddPokemon($event)" [item]="pokemonAddForm" [pokemonSelected]="pokemonSelected" *ngIf="pokemonAddForm"></app-add-pokemon>